html{
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
    overflow: hidden;
}
body {
    margin:0;
    padding:0;
    perspective:1px;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #ffe9d0;
    background-size: 100% 33.33% ;

}
#backgroundimg{  
    margin:0;
    padding:0;
    width: 100%;
    height: 33.33%;
    /* box-shadow: inset 0px 0px 20px -4px #FFE9D0 ;  */
    position: fixed;
    background-image: url(image/bgimg.jpg);
    background-size: 100% 100% ;
    background-repeat: no-repeat;
}
#backgroundcolor{
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    top: 66.67%;
    bottom: 0px;
    height: 33.33%;
    background-color: #414141;
    /* box-shadow: inset 0px 0px 20px -4px #FFE9D0 ;  */
}
#box{

    width: 80%;
    height: 80%;
    position: fixed;
    margin: 10%  10% 10%;
    background: lightgrey;

}